* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 2rem;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

.booking {
  display: flex;
  gap: 2rem;
}

.container {
  flex: 2;
  padding: 0;
}

.user-details {
  background: white;
  padding: 1rem;
  border-radius: 8px;
}

.user-details label {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
}

input {
  border: 1.2px solid #ccc;
  outline: none;
  transition: border-color 0.3s ease;
  border-radius: 5px;
}

input.invalid {
  border-color: red;
}

#name, #email {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

.calendar {
  background: white;
  padding: 1rem;
  border-radius: 8px;
}

.calendar label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

#date {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

.input-error {
  margin: 0;
  padding: 0;
  color: red;
  font-size: 14px;
  height: 16px;
  
}

#timeslots-heading {
  margin-top: 1.5rem;
}

fieldset {
  border: none;
}

.timeslots {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1rem;
}

.slot {
  padding: 1rem;
  background-color: #eee;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.2s;
}

.slot:hover {
  background-color: #ddd;
}

.selected {
  background-color: #0077cc;
  color: white;
}

.selected:hover {
  background-color: #005fa3;
}

.summary {
  flex: 1;
  background: white;
  padding: 1rem;
  border-radius: 8px;
}

.summary p {
  margin: 1rem 0;
}

#confirm {
  padding: 0.75rem 1rem;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.conf-header {
  display: flex;
  align-items: center;
}

#conf-title {
  display: inline-block;
  padding: 32px 0;
  margin: 0;
}

#confirm:hover {
  background-color: #005fa3;
}

#confirm:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.hidden {
  display: none;
}

#confirmation-message {
  max-width: 600px;
  margin: 4rem auto;
  padding: 3rem;
  background: white;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

#confirmation-message p {
  margin: 0 ;
  padding: 10px 0;

}

.back-button {
  display: inline-block;
  text-decoration: none;
  background-color: #005fa3;;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 1rem;
  margin-top: 2rem;
  width: max-content; 
}

.success-icon {
  display: inline-block;
  font-size: 3rem;
  color: #28a745;

}