* {
  box-sizing: border-box;
}

:root {
  --color-text-primary: #f9fafb;
  --color-bg-dark: #111827;
  --color-bg-light: #374151;
  --color-text-secondary: #9ca3af;
  --color-accent: #0284c7;
  --border-radius: 12px;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0 auto;
  color: var(--color-text-primary);
  display: grid;
  grid-template-columns: minmax(200px, 350px) 1fr;
  background-color: var(--color-bg-dark);
  padding: 20px 24px;
  max-width: 1280px;
}
a {
  text-decoration: none;
  color: inherit;
}

h1 {
  color: var(--color-text-primary);
  font-size: 32px;
  font-weight: 700;
  line-height: 150%;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.side-nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.nav-list {
  display: flex;

  flex-direction: column;
  font-size: 14px;
  line-height: 150%;
  gap: 8px;
}

.nav-link {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 12px;
}

main {
  padding: 16px;
}

.page-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 100%;
  margin-top: 28px;
  padding: 12px 16px;
  font-size: 16px;
  line-height: 150%;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--color-bg-light);
  color: var(--color-text-secondary);
}

.table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 46px;
  grid-auto-rows: 1px 72px;
  margin-top: 24px;
  border-radius: var(--border-radius);
}

.table-header {
  background-color: var(--color-bg-light);
  padding: 12px 16px;
}

.row-border {
  /* grid-column-start: 1;
  grid-column-end: 5; */
  grid-column: 1 / -1;
  height: 100%;
  background-color: var(--color-text-primary);
}

.table-cell{
  padding: 24px 16px;
  
}

.progress-cell {
  display: flex;
  align-items: center;
  gap: 12px;
}

.progress-bar {
  background-color: var(--color-bg-light);
  border-radius: var(--border-radius);
  height: 4px;
  width: 88px;
  position: relative;
}

.progress-bar-indicator {
  position: absolute;
  top:0;
  left: 0;

  height: 4px;
  /* width: calc(88px * 0.75); */
  width: 75%;
  background-color: var(--color-accent);
  border-radius: var(--border-radius);
}