/* Standard styles below:  */
* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  margin:0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}
/* Standard styles above  */


header {
  background-color: purple;
}

main {
  min-height: 50vh;
  background-color: lightgreen;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;


  padding: 40px;
}

footer {
  height: 40px;
  background-color: purple;
}

div {
  width: 200px;
  height: 200px;
  background-color: lightsalmon;

  /* 20px for all 4 sides
  margin: 20px; */

  /* 20px for top and bottom, 30px for left and right */
  /* margin: 20px 30px; */
/* 20px for top , 30px for left and right, 40px for bottom */
  /* margin: 20px 30px 40px; */

  /* 10px for top, 20px for right, 30px for bottom, auto for left; */

  margin: 10px 20px 30px auto;
}


button {
  width: 60px;
  padding: 8px;
}


nav {
  max-width: 1024px;
  margin: 0 auto;
}

ul {
  margin: 0;
  

  padding: 0;
  list-style-type: none;
  
  
/* For this example you can use either text-align: right; or the code below (margin-left and width) */

  /* text-align: right; */

  margin-left: auto;
  width: max-content;
}

li {
  display: inline-block;
  padding: 20px 24px;
}


/* 
BEM naming convention

Block - header, menu, nav, footer, card
Element - list-item, item, title, content, button, input
Modifier - primary,  secondary, warning, alert, muted, small, large

block 
element
modifier

block__element--modifier

block--modifier

block__element

element--modifier

nav__list




*/

