* {
  box-sizing: border-box;
}

:root {
  --color-blue-500: #505f98;
  --color-logo: #37447e;
  --color-blue-800: #111b47;
  --color-blue-900: #091133;
  --colour-secondary-100: #fff;

  --text-xs: 12px;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 18px;
  --text-xl: 26px;
  --text-2xl: 36px;
  --text-3xl: 50px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;

  background-image: url('./assets/hero.svg');
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: auto 100vh;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: var(--color-blue-900);
  font-size: var(--text-3xl);
  font-weight: 500;
  line-height: 132%;
  letter-spacing: 1px;
  margin: 0;
}

p {
  margin: 0;
}

.w-full {
  max-width: 1110px;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.content-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.gap-155{
  gap: 155px;
}

.gap-60 {
  gap: 60px;
}
.gap-30 {
  gap: 30px;
}

.text-xs {
  font-size: var(--text-xs);
  line-height: 150%;
}

.text-sm {
  font-size: var(--text-sm);
  line-height: 171.429%;
  font-weight: 400;
}

.text-lg {
  font-size: var(--text-lg);
  line-height: 166.667%;
}

.text-xl {
  font-size: var(--text-xl);
  line-height: 146.154%;
}

.bold {
  font-weight: 900;
}

.text-primary {
  color: var(--color-blue-500);
}

.nav-top {
  height: 60px;
}

.btn {
  min-width: 150px;
  padding: 4px 24px;
  border-radius: 2px;
  text-align: center;
  display: inline-block;
}

.btn-primary {
  color: var(--colour-secondary-100);
  background: var(--color-blue-800);
  border: 2px solid var(--color-blue-800);
}

.btn-primary:hover {
  color: var(--colour-secondary-100);
  background: var(--color-blue-900);
  border: 2px solid var(--color-blue-900);
}


.btn-primary-outlined {
  color: var(--color-blue-900);
  border: 2px solid var(--color-blue-900);
}

.btn-primary-outlined:hover {
  color: var(--colour-secondary-100);
  background: var(--color-blue-900);
}

.flex-1 {
  flex: 1;
}

.min-h-lg {
  min-height: calc(100vh - 60px);
}

.min-h-md {
  min-height: 60vh;
}

.min-h-sm {
  min-height: 40vh;
  
}




