* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.ctas {
  display: flex;
  gap: 30px;
  justify-content: center;
}

h1 {
  text-align: center;
  color: #333;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style-type: none;
  padding: 0;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin: 0 0 10px;
}

.card-body {
  color: #666;
  margin: 0;
}

.card-ctas {
  display: flex;
  gap: 20px;
  justify-content: start;
  margin-top: 20px;
}

.container-delete {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;

  max-width: fit-content;
  background-color: #669762;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  padding: 40px 60px;


}

.button {
  padding: 10px 20px;
  background-color: #8d5050;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.button:hover {
  background-color: #5b2121;
}

.button--success {
  background-color: #a5a15d;
}

.button--success:hover {
  background-color: #7a7642;
}


.button--delete {
  background-color: #b495958b;
  color: #9c0e0e;
  opacity: 0.7;
}

.button--delete:hover {
  background-color: #c10a0a;
  color: white;
}

.button--close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: transparent;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px 10px;
}

.button--close:hover {
  background-color: #0a57123a;
}

.button--danger {
  background-color: #7a0916;
}

.button--danger:hover {
  background-color: #79000cf4;
}

.hidden {
  display: none;
}