/* Genel sayfa ayarları ve formu ekranın ortasına alma */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.form-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); 
  width: 100%;
  max-width: 350px;
}

.form-group {
  margin-bottom: 20px;
}


.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
  font-size: 16px;
  color: #555;
}

.form-group input:focus {
  outline: none;
  border-color: #4CAF50;
}

.button {
  width: 100%;
  padding: 12px;
  background-color: #00076a; 
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.button:hover {
  background-color: #404ace;
}